
#root {
  /* width: 100%;
  height: 100%; */
  background-color: #6978DB;
  margin: 0 auto;
  color: white;
  /* padding: 2rem;
  text-align: center; */
}

body {
  background-color:#6978DB;
  height: 100vh;
  font-family: 'Quicksand', sans-serif !important;
} 

body > #root > div {
  height: 100vh;
}