

:root {
  background-color: #6978DB;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

h1 {
  font-size: 2.2em;
  font-family: 'Quicksand', Arial, sans-serif;
  line-height: 1.1;
  font-weight: bold;
} 


.link:hover {
  cursor: pointer;
  font-weight: bold;
}

.display { 
  background-image: url("./src/assets/microphone2.png");
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 25% 25%;
  background-origin: content-box;
}
